<header>Create Header
    <a href="#" class="close-btn">Close</a>
</header>
<section id="uthinx-create-swiper" class="swiper-container">
    <div id="" class='swiper-wrapper'>
        <article class="swiper-slide" data-catagory="1">
            <div class="uthinx-switch">
                <input type="radio" class="uthinx-switch-input" name="view" value="week" id="week" checked>
                <label for="week" class="uthinx-switch-label switch-label-off">ON</label>
                <input type="radio" class="uthinx-switch-input" name="view" value="month" id="month">
                <label for="month" class="uthinx-switch-label switch-label-on">OFF</label>
                <span class="uthinx-switch-selection"></span>
            </div>
            <div class="uthinx-switch switch-blue">
                <input type="radio" class="uthinx-switch-input" name="view2" value="week2" id="week2" checked>
                <label for="week2" class="uthinx-switch-label switch-label-off">AGREE</label>
                <input type="radio" class="uthinx-switch-input" name="view2" value="month2" id="month2">
                <label for="month2" class="uthinx-switch-label switch-label-on">DISAGREE</label>
                <span class="uthinx-switch-selection"></span>
            </div>
            <div class="uthinx-switch switch-yellow">
                <input type="radio" class="uthinx-switch-input" name="view3" value="week3" id="week3" checked>
                <label for="week3" class="uthinx-switch-label switch-label-off">YES</label>
                <input type="radio" class="uthinx-switch-input" name="view3" value="month3" id="month3">
                <label for="month3" class="uthinx-switch-label switch-label-on">NO</label>
                <span class="uthinx-switch-selection"></span>
            </div>

            <div class="container">
                <div class="switch">
                    <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
                    <label for="week" class="switch-label switch-label-off">ON</label>
                    <input type="radio" class="switch-input" name="view" value="month" id="month">
                    <label for="month" class="switch-label switch-label-on">OFF</label>
                    <span class="switch-selection"></span>
                </div>

                <div class="switch switch-blue">
                    <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked>
                    <label for="week2" class="switch-label switch-label-off">AGREE</label>
                    <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
                    <label for="month2" class="switch-label switch-label-on">DISAGREE</label>
                    <span class="switch-selection"></span>
                </div>

                <div class="switch switch-yellow">
                    <input type="radio" class="switch-input" name="view3" value="week3" id="week3" checked>
                    <label for="week3" class="switch-label switch-label-off">YES</label>
                    <input type="radio" class="switch-input" name="view3" value="month3" id="month3">
                    <label for="month3" class="switch-label switch-label-on">NO</label>
                    <span class="switch-selection"></span>
                </div>
            </div>
        </article>
        <article class="swiper-slide" data-catagory="2">Second Slide</article>
        <article class="swiper-slide" data-catagory="3">Third Slide</article>
        <article class="swiper-slide" data-catagory="4">Fourth Slide</article>
        <article class="swiper-slide" data-catagory="5">Fifth Slide</article>
        <article class="swiper-slide" data-catagory="6">Sixth Slide</article>
        <article class="swiper-slide" data-catagory="7">Seventh Slide, Glide</article>
    </div>
</section>
<footer>
    <nav id="uthinx-create-swiper-pagination" class="uthinx-swiper-pagination-bottom"></nav>
</footer>