<header id="uthinx-search-header" class="uthinx-blue">
    <section class="swiper-container">
        <div id="uthinx-search-swiper" class='swiper-wrapper'>

        </div>
    </section>
    <nav id="uthinx-search-swiper-pagination" class="uthinx-swiper-pagination-bottom"></nav>
</header>
<section id="uthinx-search-body">
    <a href="#" class="close-btn">Close</a>
    <div class="uthinx-nano"><!-- user for mobile scroll control -->
        <div class="overthrow uthinx-nano-content">
            <article id="uthinx-search-main" class="uthinx-search-main">

            </article>
        </div>
    </div>
</section>
<footer></footer>
